<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137043893557-6ok1qpbitssd63ad8dm96fahlnjop503.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137043893557-6ok1qpbitssd63ad8dm96fahlnjop503</string>
	<key>API_KEY</key>
	<string>AIzaSyAidVA4Ne0CmmsayIwXAq1vIDrL4eB_-vs</string>
	<key>GCM_SENDER_ID</key>
	<string>137043893557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niso.quarteirabookings</string>
	<key>PROJECT_ID</key>
	<string>quarteira-bookings-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>quarteira-bookings-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137043893557:ios:7744c052f2650fd135407c</string>
</dict>
</plist>